@font-face {
    font-family: 'Magic-Clause';
    src: url('Magic-Clause.woff') format('woff');
}
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.magic-clause {
    font-family: 'Magic-Clause';
}
.lobster-two {
  font-family: 'Lobster Two', cursive;
}
.nunito {
  font-family: 'Nunito', sans-serif;
}
.roboto {
  font-family: 'Roboto', sans-serif;
}
.positionY-36{
    top: -36px;
}
.positionY-60{
    top: -60px;
}
.centered-axis {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* .timeline-slider {
  height: 300px;
  display: flex !important;
  align-items: flex-end;
} */
.timeline-slider .h-timeline-item {
  height: 25rem;
  display: flex !important;
}
.bg-story {
  background: linear-gradient(#1fb5fa90,#0082ff90);
}
.slick-dots li button:before {
  color: white !important;
}
.h-timeline-item.slick-current > .circle-item{
  transform: translateY(-60px);
}
.bg-its{
    background: linear-gradient(#08019a,#0082ff);
}
.fixed-x-center{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}
.absolute-x-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.absolute-y-center{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.absolute-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slider-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.ini > .slick-list > .slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
}
.maps-savethedate {
  height: 300px !important;
}
.slick-slide.slick-current.slick-active {
    outline: none;
}
.text-none{
    font-size: 0px;
}
.contoh{
    position: relative;
    opacity: 0;
    top: -20px;
}
.wrapper-pict:hover {
    transition: all 1s;
    opacity: 1;
}
.bg-komentar{
    background:rgba(255,255,255,0.6);
}
.bg-transitioner {
  background: radial-gradient(circle, rgba(111,202,249,1) 28%, rgba(0,130,255,1) 100%);
}

 


.heart {position:relative;} 
.heart:before, .heart:after {position:absolute;content:'';left:15px; top:0;width:15px;height:26px;background-color:red;-moz-border-radius:10px 10px 0 0;border-radius:10px 10px 0 0;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transform-origin:0 100%;-moz-transform-origin:0 100%;-ms-transform-origin:0 100%;-o-transform-origin:0 100%;transform-origin:0 100%;}
.heart:after {left:0;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg); -ms-transform:rotate(45deg); -o-transform:rotate(45deg);transform:rotate(45deg);-webkit-transform-origin:100% 100%;-moz-transform-origin:100% 100%;-ms-transform-origin:100% 100%;-o-transform-origin:100% 100%;transform-origin :100% 100%;}
.heart_text {position:absolute;left:7px;top:13px;width:15px;text-align:center;z-index:1;}



/* .heart {
    background-color: red;
    display: inline-block;
    height: 30px;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
  }
  
  .heart:before,
  .heart:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 30px;
    position: absolute;
    width: 30px;
  }
  
  .heart:before {
    top: -15px;
    left: 0;
  }
  
  .heart:after {
    left: 15px;
    top: 0;
  } */


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
::-webkit-scrollbar-thumb:active {
  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 30px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}



@media(max-width:768px){
    .absolute-y-center{
        top: 30%;
    }
}
@media(min-width:768px){
    .md\:slider-center{
        position: absolute;
        left: auto;
        top: 50%;
        transform: translateY(-50%);
    }
}